crawling {
	background-color: darkblue;
	display: block;
	padding: 10px;
	font-family: sans-serif;
}

title {
	font-weight: bold;
	color: darkgoldenrod;
	text-align: center;
	display: block;
}

time {
	font-weight: bold;
	color: darkgoldenrod;
	display: block;
}

resource {
	font-weight: bold;
	color: darkgoldenrod;
	display: block;
}


subtitle {
	font-weight: bold;
	color: darkgoldenrod;
	text-align: center;
	display: block;
}

results {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: block;
	border: 3px solid #808080;
	padding: 8px;
	text-align: center;
}


codeOk {
	font-weight: bold;
	color: darkgoldenrod;
	display: block;
}

indexof {
	font-weight: bold;
	color: darkgoldenrod;
	display: block;
}


