crawling {
	background-color: darkblue;
	display: block;
	padding: 10px;
	font-family: sans-serif;
}

title {
	font-weight: bold;
	color: darkgoldenrod;
	text-align: center;
	display: block;
}

time {
	font-weight: bold;
	color: darkgoldenrod;
	display: block;
}

resource {
	font-weight: bold;
	color: darkgoldenrod;
	display: block;
}

total {
	font-weight: bold;
	color: darkgoldenrod;
	display: block;
}

js {
	font-weight: bold;
	color: darkgoldenrod;
	display: block;
}

link {
	font-weight: bold;
	color: darkgoldenrod;
	display: block;
}


